{% extends 'base.html' %}


{% block ust_icerik %}

    <style>
        .category {
            width: 20%;
            float: left;
            margin: 10px;

        }

        .category a {
            margin: auto;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .frame {
            height: 120px;

        }

    </style>

{% endblock %}

{% block content %}

    <div class="frame">
        <div class="category">
            <a href="#" class="m-3 btn btn-primary btn-block">Mekanik Tasarım</a>
        </div>
        <div class="category">
            <a href="#" class="m-3 btn btn-primary btn-block">Aviyonik</a>
        </div>
        <div class="category">
            <a href="#" class="m-3 btn btn-primary btn-block">Kurtarma</a>
        </div>
        <div class="category">
            <a href="#" class="m-3 btn btn-primary btn-block">Genel Dosyalar</a>
        </div>

    </div>


    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Açıklama</th>
                <th scope="col">Yükleyen</th>
                <th scope="col">Kategori</th>
                <th scope="col">Yükleme Tarihi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>12.03.2020</td>
            </tr>
            <tr>
                <th scope="row">Lorem Dosyaları</th>
                <td>Selamet ŞAMLI</td>
                <td>Mekanik tasarım</td>
                <td>12.03.2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Aviyonik</td>
                <td>12.03.2020</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}