{% extends 'base.html' %}

{% load static %}
{% block ust_icerik %}
    <script src="{% static 'bootstrap/js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery.fileupload.js' %}"></script>

    <script src="{% static 'bootstrap/js/basic-upload.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Yükleniyor...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="page-header">File Upload</h1>

    <div class="first-form">
        {% for foo in form %}
            {% csrf_token %}
            {{ foo.label }}:
            {{ foo }}
        {% endfor %}
    </div>

    <div class="col-lg-8 offset-2 alert alert-danger"><p class="text-center">Dosya yüklemeden önce yukarıdaki formu
        doldurun!!!</p></div>

    <div class=" row">
        <div class="offset-2 col-lg-8">

            <div class="pull-center show-form">
                <div style="margin-bottom: 20px;">
                    <button type="button" class="js-upload-photos well text-muted text-center"
                            style="padding-top: 4rem; padding-bottom: 4rem;">
                        <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
                        <h3>Resim yüklemek için sürükleyin veya tıklayın.</h3>
                    </button>
                    <input id="fileupload" type="file" name="file" multiple
                           style="display: none;"
                           data-url="{% url 'basic-upload' doc.slug %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>


                </div>

                <a href="{% url 'home' %}" class="btn btn-info"> Tamamlandı</a>
            </div>
        </div>


{% endblock %}