{% load static %}

<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    {% block ust_icerik %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Lorem </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>


        </ul>
        {% if user.is_authenticated %}
            <a class="text-danger nav-link float-right" href="{% url 'user-logout' %}">Çıkış Yap</a>
        {% else %}
            <a class="text-success nav-link float-right" href="{% url 'user-login' %}">Login</a>

        {% endif %}
    </div>
</nav>


<div class="col-lg-12">
    <div class="pull-center col-lg-8">
        {% block content %}

        {% endblock %}
    </div>

</div>


</body>
</html>