{% extends 'base.html' %}
{% load static %}

{% block ust_icerik %}

    <style>

        .category {
            width: 20%;
            display: inline-block;
            vertical-align: middle;


        }

        .category a {
            margin: auto;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .frame {
            height: 120px;
            text-align: center;


        }

        #img-download {
            height: 60%;
        }

        #img-detail {
            height: 1.8%;
        }

        .category-name-header {
            text-align: center;
            margin-top: 5%;
            border-bottom: 1px solid lightslategray;
        }

        .show-table {
            margin: 20px;
        }

        #my-breadcrumb {
            margin: 2%;
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}
    <div id="my-breadcrumb" class="breadcrumb">

        <a class="breadcrumb-item" href="{% url 'home' %}">Ana Sayfa</a>
        {% if parent_category %}

            {% if parent_category.parent %}

                <a class="breadcrumb-item"
                   href="{% url 'parent-categories' parent_category.parent.slug %}">{{ parent_category.parent }}</a>
                <a class="breadcrumb-item"
                   href="{% url 'parent-categories' parent_category.slug %}">  {{ parent_category }}</a>
            {% else %}
                <a class="breadcrumb-item"
                   href="{% url 'parent-categories' parent_category.slug %}"> {{ parent_category }}</a>

            {% endif %}
        {% else %}

        {% endif %}

    </div>


    {% if sub_categories %}
        <div class="frame">
            <h2 class="category-name-header">{{ parent_category }}</h2>

            {% for category in sub_categories %}
                <div class=" category">
                    <a href="{% url 'parent-categories' category.slug %}"
                       class=" m-3 btn btn-primary btn-block">{{ category.name }}</a>
                </div>

            {% endfor %}
        </div>

    {% else %}
        <h2 class="category-name-header">{{ parent_category }}</h2>
    {% endif %}



    <div class="show-table">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Yükleyen</th>
                <th scope="col">Kategori</th>
                <th scope="col">Yükleme Tarihi</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}

                <tr>
                    <th scope="row">{{ document.title }}</th>
                    <td>{{ document.user }}</td>
                    <td>{{ document.category }}</td>
                    <td>{{ document.uploaded_at }}</td>
                    <td><a href="{% url 'document-detail' document.slug %}"><img id="img-detail"
                                                                                 src="{% static 'img/detail.png' %}"
                                                                                 alt=""></a></td>

                    <td><a href="{{ document.get_file_url }}"><img id="img-download"
                                                                   src="{% static 'img/download-button.svg' %}" alt=""></a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}